body {
    background-color: #ddd;
}

/* a.navbar-brand, a.navbar-brand:hover{
	color: #ddd;
} */
li.page-item>a.page-link{
    background-color: #343a40!important;
    color: #ddd;
    border-color: #212529;
}
li.page-item>a.page-link:hover{
    color: #fff;
    background-color: #212529!important;
}

ul.pagination li.page-item {
	box-shadow: -2px 0px 50px 2px rgba(255, 255, 255, 0.05);
}